<hr>
<div class="footer">
  <div class="left-links">
    2018 GitHub, Inc.
    <%= link_to "Terms", root_path %>
    <%= link_to "Privacy", root_path %>
    <%= link_to "Security", root_path %>
    <%= link_to "Status", root_path %>
    <%= link_to "Help", root_path %>
  </div>

  <div class="icon">

  </div>

  <div class="right-links">
    <%= link_to "Contact GitHub", root_path %>
    <%= link_to "API", root_path %>
    <%= link_to "Training", root_path %>
    <%= link_to "Shop", root_path %>
    <%= link_to "Blog", root_path %>
    <%= link_to "About", root_path %>
  </div>

</div>
